<h2>Editing Collection <%=  @collection.id %> </h2>

<h3>Name: <%= @collection.name%></h3>

<form action='<%="/collection/#{@collection.id}" %>' method="post">
  <input type="hidden" name="_method" value="put" />
  <p><label for="name">Name:</label>
     <input type="text" name="collection[name]" value="<%= @collection.name %>" />
  </p>
  <input type="submit" value="Edit Collection" />
</form>
