<h2>Viewing All <%=@collections.count %> Presets </h2>

<p>
  <a href="/upload">Upload preset to create a new collection</a>
</p>

<% @collections.each do | coll | %>

  <%= coll.created_at.strftime("%d-%m-%y %I:%M") %>  <%="<a href='/collection/#{coll.id}'>#{coll.name}</a>" %><br />

<% end  %>

