<h2>Viewing All <%=@collections.count %> Presets </h2>

<p>
  To create a new preset, you can upload an existing XML JOSM preset, create an empty preset from scratch, or choose an existing one and clone it. <br />
  <a href="/upload">Upload preset to create a new collection</a>
  <br />
  Or
  <br />
  <a href="/collection/new">Create empty new collection </a>
</p>
<% @collections.each do | coll | %>

  <%= coll.created_at.strftime("%d-%m-%y %I:%M") %>  <%="<a href='/collection/#{coll.id}'>#{coll.name}</a>" %><br />

<% end  %>

