<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>HOT Visual Tag Chooser</title>
    <script type="text/javascript" src="/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/tree.jquery.dev.js"></script>
    <script type="text/javascript" src="/select2.min.js"></script>
    <link rel="stylesheet" href="/jqtree.css" />
    <link rel="stylesheet" href="/css/sunny/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet"  type="text/css" href="/select2.css" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <div id="header">
          <h1>
            HOT Visual Tag Chooser
          </h1>
        </div>
        <%= styled_flash %>
        <%= yield %>
        <div id="footer">
          <hr />
          <div class="tiny">HOT Visual Tag Chooser - v1.0.1</div>
        </div>
      </div>
    </div>
  </body>
</html>