<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>HOT Visual Tag Chooser</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <div id="header">
          <h1>
            HOT Visual Tag Chooser
          </h1>
        </div>
        <%= yield %>
        <div id="footer">
          <hr />
          <div class="tiny">HOT Visual Tag Chooser - alpha v0.2</div>
        </div>
      </div>
    </div>
  </body>
</html>