<h2>Upload and parse a JOSM Preset</h2>
<form action="" method="post" enctype="multipart/form-data">
  <p><label for="name">Name:</label>
     <input type="text" name="name" />
  </p>
  <p>
    <label for="file">File:</label>
    <input type="file" name="file" />
  </p>

  <p>
    <input name="commit" type="submit" value="Upload" />
  </p>
</form>