body {
  background-color: wheat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  
}

div#flash .info {color:green}

div.validation_errors {
  margin: 1.5em;
  font-style: italic;
}

#footer .tiny {font-size:xx-small; color:gray}

div#wrapper {
 margin: 0 auto;
 width: 1000px;
}
div#content{
   padding: 1.5em;
}

.delete_form {
  display: inline;
}

form#collection_form {
  width: 500px
}
form#collection_form p{
  margin:1px
}

form#collection_form label{
  float: left;
  width: 115px;
}
form#collection_form input{
  width: 300px;
}

div#tree_container {
  position: relative
}
div#tag_tree {
  width: 400px;
}


ul#ele_list {
  list-style-type: none;
}

ul#ele_list li.tag_header {
  font-weight: bold;
}


li.jqtree-folder {
}


div.jqtree-element span.jqtree-title {}

div#item_tree_container {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: smaller;
  padding-right: 0.5em;
  background-color: rgb(253, 206, 119);
  border-style: solid;
  border-width: 1px;
}

div#item_tree_title{
text-align: center;
font-weight: bold;
}

div#item_tree {
  width: auto;
  margin-left: 7px;
}
div#item_tree span.jqtree-title {
  font-style: italic;
  float: left;
  display: block;
  width: 70px;
  font-size: smaller;
}

div#item_tree input {width:100px}
div#item_tree div.jqtree_common{
  padding-bottom: 0.1em;
}
div#item_tree div.jqtree_common span.left{
  float: left;
  width: 200px;
}
div#item_tree div.jqtree_common span.left input{
  width: 20px;
}

div#item_tree div.jqtree_common span.right{
  margin-right: 1em;
}

