body {
  background-color: wheat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  
}

div#flash .info {color:green}
div#flash .error {color:red}

div.validation_errors {
  margin: 1.5em;
  font-style: italic;
}

#footer .tiny {font-size:xx-small; color:gray}

div#wrapper {
 margin: 0 auto;
 width: 1000px;
}
div#content{
   padding: 1.5em;
}

.delete_form {
  display: inline;
}

form#collection_form {
  width: 600px
}
form#collection_form p{
  margin:1px
}

form#collection_form label{
  float: left;
  width: 195px;
}
form#collection_form input{
  width: 350px;
}

span.clone_link {
  font-size: smaller;
}
/*trees*/

div#tree_container {
  position: relative
}
div#tag_tree {
  width: 400px;
}

div#tag_tree span.itemtoolbar{
  float:right;
  height: 40px;
}

div#item_tree_container {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: smaller;
  padding-right: 0.5em;
  background-color: rgb(253, 206, 119);
  border-style: solid;
  border-width: 1px;
}

div#item_tree_title{
text-align: center;
font-weight: bold;
}

div#item_tree {
  width: auto;
  margin-left: 7px;
}
div#item_tree span.jqtree-title {
  font-style: italic;
  float: left;
  display: block;
  width: 70px;
  font-size: smaller;
}

div#item_tree input {width:100px}
div#item_tree div.jqtree_common{
  padding-bottom: 0.1em;
}
div#item_tree div.jqtree_common span.left{
  float: left;
  width: 200px;
}
div#item_tree div.jqtree_common span.left input{
  width: 20px;
}

div#item_tree div.jqtree_common span.right{
  margin-right: 1em;
}

div#item_tree div.jqtree_common span.link{
  font-size: smaller;
}

/*dialogs*/

input.ui-button {
  font-size:smaller;
}

div.ui-dialog{
  font-size: smaller;
  z-index: 500;
}

form.dialog_form label{
  float: left;
  width: 160px;
}
form.dialog_form input{
/*  width: 300px;*/
}

.select2-choice{
  height: 39px !important;
}
div.select2-drop {
  font-size:x-small;
}

form#add_preset_element_form label{
  float:left;
  width: 160px;
}
form.eleform label{
  float: left;
  width: 160px;
}
form.eleform button{
  float: left;
  width: 160px;
}

div.ui-dialog button.delete_button {
  margin-right: 150px;
}
div.ui-dialog button.delete_button:disabled {
  background: lightgray;
  color: gray;
  border-color: gray;
}

.settings-button {
  width: 21px;
  height: 21px;
	border-radius: 5px;
	border: 1px solid #161615;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	opacity: 0.7;
	background-color: #fece2f;
	z-index: 2;
	display: block;
	margin: 9px 10px;
}

.settings-button:hover, .pressed {
	background-color: transparent;
	opacity: 1;
	cursor: pointer;
	z-index: 2;
}

.settings-button img {
	margin: 2px auto 0px auto;
	display: block;
	z-index: -1;
}

.settings-button span {
	background: transparent url('/icon-cog-small.png') no-repeat top left;
	width: 19px;
	height: 18px;
	display: block;
	margin: 5px auto 0px auto;
}