body {
  background-color: wheat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  
}

div#flash .info {color:green}

div.validation_errors {
  margin: 1.5em;
  font-style: italic;
}

#footer .tiny {font-size:xx-small; color:gray}

div#wrapper {
 margin: 0 auto;
 width: 1000px;
}
div#content{
   padding: 1.5em;
}

.delete_form {
  display: inline;
}


div#tree_container {
  position: relative
}
div#tag_tree {
  width: 400px;
}
div#tag_info {
  position: absolute;
  top: 0px;
  right: 0px;
  border-style:solid;
  border-width:1px;
  font-size: smaller;
  padding-right: 0.5em;
  background-color: rgb(253, 206, 119);
}


ul#ele_list {
  list-style-type: none;
}

ul#ele_list li.tag_header {
  font-weight: bold;
}


li.jqtree-folder {

}
 
